<head th:fragment="head">
<meta charset="UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

<link
	href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
	rel="stylesheet">

<style>
.logo-container {
	background-color: #c4deff;
}

.logo {
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
}

.login {
	font-size: 1.5rem;
}
</style>

</head>

<div th:fragment="logo"
	class="logo-container mb-3 p-3 d-flex 
		justify-content-between">
	<span class="logo">mudi</span> <span class="login mt-4">
			<a class="text-black" sec:authorize="!isAuthenticated()" href="/login">Login</a>
			<!-- JavaScript com html-->
			<a onclick="document.querySelector('#form-login').submit()" class="text-black" sec:authorize="isAuthenticated()" href="#">Logout</a>
			<form id="form-login" th:action="@{/logout}" method="post"></form>
		</span>
</div>






